<div class="flex items-center justify-center h-full ">
  <div class="grid grid-cols-1 md:grid-cols-3 items-center justify-center md:justify-between bg-gray-50 w-full md:h-10/12 md:w-10/12 md:shadow-xl rounded-lg overflow-hidden">
    <div class="gradient-background hidden md:block h-full">
      <img class="object-cover h-full w-full " src="/assets/images/user-page.jpg">
    </div>
  
    <div class="flex justify-center col-span-2 items-center p-8">
      <div class="sm:min-w-96">
        <h2 class="text-3xl font-bold mb-2">Cadastro</h2>
        <span class="text-gray-400 text-md">Informe seus dados</span>
  
        <form class="mt-6" [formGroup]="form">

          <div class="flex flex-col gap-1">
            <span class="font-semibold text-xs">Nome</span>
            <mat-form-field class="w-full" appearance="outline">
              <input matInput formControlName="name" required>
            </mat-form-field>
          </div>
    
          <div class="flex flex-col gap-1">
            <span class="font-semibold text-xs">E-mail</span>
            <mat-form-field class="w-full" appearance="outline">
              <input matInput formControlName="email" type="email" required>
            </mat-form-field>
          </div>
  
          <div class="flex flex-col gap-1">
            <span class="font-semibold text-xs">Senha</span>
            <mat-form-field class="w-full" appearance="outline">
              <input matInput formControlName="password" type="password" required>
            </mat-form-field>
          </div>
    
          <h-button 
            (onClick)="onSubmit()"
            [isBusy]="isBusy"
            [buttonClass]="'w-full'" 
            [text]="'Cadastrar'">
          </h-button>
  
          <div class="text-gray-500 text-sm mt-8 text-center">
            Já possui uma conta?
            <a routerLink="/login" class="text-red-500 font-semibold hover:underline cursor-pointer">Entrar</a>
          </div>
        </form>
      </div>
    </div>
    
  </div>
  
</div>