<div class="flex items-center justify-center w-full h-12 bg-primary-500">
    <h2 class="text-md text-center text-white font-semibold my-auto">Novo por aqui? Aproveite... Entregas grátis por 15 dias!</h2>
</div>

<div class="p-8 pb-0">
    <h2 class="text-xl text-gray-800 font-bold mb-2">Os mais famosos</h2>
</div>

<div *ngIf="allCompanies.length > 0; else empyt_list">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 px-16 py-8">
        <ng-container  *ngFor="let company of allCompanies">
            <div (click)="open(company.id!)"
                class="bg-white border rounded-lg shadow-sm overflow-hidden cursor-pointer hover:bg-gray-50 hover:opacity-95">
                <img class="w-full h-32 object-cover" 
                    [src]="company.bannerFile?.publicUrl">

                <div class="flex items-center justify-center px-4">
                    <div class="-mt-16 p-1 bg-white border rounded-full">
                        <div class="rounded-full h-32 w-32 bg-cover bg-center bg-no-repeat object-cover" 
                            [defaultImage]="'/assets/images/image-placeholder.png'" 
                            [lazyLoad]="company.logoFile?.publicUrl!"></div>
                    </div>
            
                    <div class="p-6">
                        <div class="flex items-center gap-2">
                            <h2 class="text-xl text-gray-800 font-bold">{{ company.name }}</h2>
                            <mat-icon class="text-primary-600">verified</mat-icon>
                        </div>
                        <p class="text-gray-600">{{ company.description }}</p>
                    </div>
                </div>

                <div class="flex items-center gap-6 p-6 pt-0">
                    <div class="flex items-center gap-1">
                        <mat-icon class="text-primary-500 icon-size">grade</mat-icon>
                        <span class="text-gray-600">4.4</span>
                    </div>
                    <div class="flex items-center gap-1">
                        <mat-icon class="text-primary-500 icon-size">schedule</mat-icon>
                        <span class="text-gray-600">30-40min</span>
                    </div>
                    <div class="flex items-center gap-1">
                        <mat-icon class="text-primary-500 icon-size">confirmation_number</mat-icon>
                        <span class="text-gray-600">{{18 | currency: 'BRL'}}</span>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #empyt_list>
    <div class="p-8">
        <h2 class="text-xl text-center text-gray-800 font-bold mb-2">Nenhuma loja encontrada</h2>
    </div>
</ng-template>    
  