<div class="flex items-center justify-center w-full h-12 bg-primary-500">
    <h2 class="text-md text-center text-white font-semibold my-auto">Novo por aqui? Aproveite... Entregas grátis por 15 dias!</h2>
</div>

<div class="p-8">
    <h2 class="text-xl text-gray-800 font-bold mb-2">Os mais famosos</h2>
</div>

<div *ngIf="allCompanies.length > 0; else empyt_list">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 px-16 py-8">
        <ng-container  *ngFor="let company of allCompanies">
            <div class="flex bg-white border rounded-lg shadow-sm overflow-hidden cursor-pointer hover:bg-gray-50 min-h-44" (click)="open(company.id!)">
                <div class="h-full object-cover bg-cover bg-center bg-no-repeat w-1/3" 
                    [style.minWidth]="'33%'"
                    [defaultImage]="'/assets/images/image-placeholder.png'" 
                    [lazyLoad]="company.bannerFile!.publicUrl!"></div>

                <div class="p-6">
                    <h2 class="text-xl text-gray-800 font-bold">{{ company.name }}</h2>
                    <p class="text-gray-600">{{ company.description }}</p>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #empyt_list>
    <div class="p-8">
        <h2 class="text-xl text-center text-gray-800 font-bold mb-2">Nenhuma loja encontrada</h2>
    </div>
</ng-template>    
  